{% extends 'base.html.twig' %}

{% block title %} Modifier Tâche {% endblock %}

{% set checktache = 0 %}
{% if isNew %}

    {% set checktache = 1 %}

{% else %}
        
    {% for taches in app.user.tache %}
        {% if taches.id == tache %}
            {% set checktache = 1 %}
        {% endif %}
    {% endfor %}

{% endif %}

{% block body %}
<style>

    li.button {
        background-color: white;
        border-radius: 20px;
        font-size: 20pt;
    }

    span.plustext {
        color: green;
        font-size: 20pt;
        border: solid;
        border-radius: 20px;
        
    }

    

</style>

<div id="topbar">

    <span id="logo"><img src="https://step.eco/wp-content/uploads/2021/11/Logo-bleu-STEP-RVB-300x128.png" alt="Logo de Step"></span>
    <span id="deconnexion"><a id="deconnect" href="{{ path('app_logout') }}">Se déconnecter</a></span>
</div>

<div style="position: fixed;top:20%;">

<a {% if app.user.settinginterfacetype == 'default_view' %} href="{{ path('app_projectview', {projetid : projet}) }}" {% else %} href="{{ path('app_projets') }}" {% endif %}>Retour</a>

    
    {% if checktache == 1 %}
        {{ form(form) }}
    {% else %}
        <p>erreur</p>
    {% endif %}

</div>

{% endblock %}
